.preview-images {
    display: flex;
    margin-top: 10px;
}

.images-chips {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
}

.images-chips .chips, .images-chips .selected-chip{
    margin: 5px 0px 5px 0px;
    width: fit-content;
}

.images-chips .selected-chip {
    background-color:#f2c40c !important;
}

.img-zoom-container {
    position: relative;
  }
  
  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
  }
  
  .img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
  }