.preview-images {
    display: flex;
    margin-top: 10px;
}

.preview-images img {
  cursor: zoom-in;
}

.images-chips {
    display: flex;
    flex-flow: column;
    margin-left: 10px;
}

.images-chips .chips, .images-chips .selected-chip{
    margin: 5px 0px 5px 0px;
    width: fit-content;
}

.images-chips .selected-chip {
    background-color:#f2c40c !important;
}

.preview-images img.img-clicked {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  height: 98vh;
  top: 0;
  width: auto;
  cursor: zoom-out;
  max-width: 100vw;
}

