.card {
    width: 300px;
    margin: 0px 15px 15px 15px;
}

.card.complete {
    background-color: rgb(124, 221, 124);
}

.settings-region {
    display: flex;
    flex-flow: column;
}

.collapse-style .MuiCardContent-root {
    padding-top: 0px;
}

.collapse-style .MuiListItemIcon-root {
    min-width: fit-content;
    margin-right: 5%;
}

.delete-icon {
    cursor: pointer;
}

.favButton svg{
    fill: currentColor;
    pointer-events: all;
    cursor: pointer;
}

.favButton.clicked svg {
    fill: red;
    pointer-events: none;
    cursor: default;
}

.favButton.my-own-sells, .favButton.my-own-sells svg {
    pointer-events: none;
    cursor: default;
} 