.homepage-content {
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    align-items: center;
}

.homepage-buttons {
    display: flex;
    margin-bottom: 30px;
}

.homepage-buttons .buttons {
    margin: 3px;
    width: 100%;
    color: white;
} 

.buttons.blue {
    background-color: #1e5e9b;
}

.buttons.yellow {
    background-color: #f1c000;
}

.buttons.blue:hover {
    background-color: #71a4d4;
}

.buttons.yellow:hover {
    background-color: #decd8a;
}
    
.sells-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.login-display {
    display: flex;
}

.login-display img {
    height: 60%;
    align-self: center;
}

.horizontal-break {
    width: 90%;
}

.load-more-icon {
    margin-bottom: 40px;
    cursor: pointer;
    background-color: #1e5e9b;
    border-radius: 100%;
    color: white;
}

.load-more-icon:hover {
    background-color: #71a4d4;
}
