.homepage-buttons {
    display: flex;
    justify-content: center;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homepage-buttons .buttons {
    margin: 3px;
} 

body {
    text-align: center;
}