.homepage-content {
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    align-items: center;
}

.homepage-buttons {
    display: flex;
    margin-bottom: 30px;
}

.homepage-buttons .buttons {
    margin: 3px;
    width: 100%;
} 
    
.sells-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.login-display {
    display: flex;
}

.login-display img {
    height: 60%;
    align-self: center;
}

.horizontal-break {
    width: 90%;
}