.my-sells {
    width: 80%;
    margin: auto;
}
.preview-images {
    margin: auto;
    width: fit-content;
    margin-top: 10px;
}

.sell-display .top-row .delete-icon {
    float: right;
    cursor: pointer;
}

.sells-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.heading-display {
    text-align: center;
    margin-top: 20px;
}