@import '../App.scss';

.my-sells {
    width: 80%;
    margin: auto;
}
.preview-images {
    margin: auto;
    width: fit-content;
    margin-top: 10px;
}

.sell-display .top-row .delete-icon {
    float: right;
    cursor: pointer;
}

.sells-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.heading-display {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.text-and-switch {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.toggle-complete-sells {
    position: absolute;
    right: 2%;
}

.MuiSwitch-switchBase.MuiSwitch-colorPrimary.Mui-checked {
    color: #1e5e9b;
}

.toggle-complete-sells .MuiSwitch-switchBase {
    color: #7191af;
}

.nav-menu {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.heading-display .no-data-text-display {
    margin-top: 30px;
}

.switch-completas span.MuiFormControlLabel-label {
    font-size: $font-size-small;
}

.snackbar-my-sells, .snackbar-my-sells div  {
    background-color: $blue-color-flag !important;
    color: white;
    border-radius: 10px;
    max-width: 60%;
}

.snackbar-my-sells div {
    max-width: 100%;
}

.mobile-nav {
    z-index: 999;
    background: none;
}

.mobile-nav button.Mui-selected{
    color: $blue-color-flag;
}

@media ( max-width: 650px ) {
    .toggle-complete-sells {
        margin-bottom: 10px;
    }

    .mobile-nav {
        visibility: visible;
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 8vh;    
        background-color: #dfecfa !important;
    }

    .sells-content {
        margin-bottom: 8vh;
    }
    
    .heading-display {
        margin-bottom: 50px;
    }
}