@import '../App.scss';

.my-sells {
    width: 80%;
    margin: auto;
}
.preview-images {
    margin: auto;
    width: fit-content;
    margin-top: 10px;
}

.sell-display .top-row .delete-icon {
    float: right;
    cursor: pointer;
}

.sells-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.heading-display {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.text-and-switch {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.toggle-complete-sells {
    position: absolute;
    right: 2%;
}

.MuiSwitch-switchBase.MuiSwitch-colorPrimary.Mui-checked {
    color: #1e5e9b;
}

.toggle-complete-sells .MuiSwitch-switchBase {
    color: #7191af;
}

.nav-menu {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.breadcrumb {
    display: flex;
}

.breadcrumb .breadcrumb-link {
    cursor: pointer;
}

.heading-display .no-data-text-display {
    margin-top: 30px;
}

.breadcrumb .breadcrumb-link.active {
    font-weight: bold; 
}

.switch-completas span.MuiFormControlLabel-label {
    font-size: $font-size-small;
}

@media ( max-width: 650px ) {
    .text-and-switch {
        flex-flow: column;
        width: fit-content;
    }

    .toggle-complete-sells {
        position: static;
        margin: 10px 0;
    }
}