.new-sell {
    display: flex;
    flex-flow: column;
    width: 70%;
    margin: auto;
}

.new-sell .input {
    margin: 5px 0px 5px 0px;
}

.new-sell input {
    margin-top: 10px;
}

.new-sell .new-sell-button {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

.heading {
    margin-top: 20px;
    text-align: center;
}