.navbar {
  height: 10vh;
  background-color: #91c7fb;
  text-align: center;
  color: black;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-heading {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.google-account-info .acc-chip {
  background-color: #e2d8af;
  border-radius: 6px;
}

.navbar.buttons.blue {
  color: white;
  background-color: #1e5e9b;
  margin-right: 5px;
  height: fit-content;
}

@media (max-width: 580px) {
  .google-account-info .acc-chip span {
    display: none;
    visibility: hidden;
  }

  .google-account-info .acc-chip {
    width: 60px;
  }

  .google-account-info .acc-ava {
    margin-right: 10px !important;
  }
}
