.navbar {
    height: 75px;
    background-color: #91c7fb;
    text-align: center;
    color: black;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: inset 3px 10px 20px 0px white;
}

.navbar img {
    float: left;
}

.navbar .navbar-heading {
    position: absolute;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 15%;
    font-family: 'Josefin Sans', sans-serif;
}

.google-account-info {
    display: flex;
    margin-top: 20px;
    float: right;
    margin-right: 15px;
}

.google-account-info .acc-chip {
    background-color: #e2d8af;
    border-radius: 6px;
}

@media (max-width: 580px) {
    .google-account-info .acc-chip span {
        display: none;
        visibility: hidden;
    }

    .google-account-info .acc-chip {
        width: 60px;
    }

    .google-account-info .acc-ava {
        margin-right: 10px !important;
    }
}