@import '../../App.scss';

.dialog-container div[aria-labelledby="alert-dialog-title"] {
    min-width: 30%;
}

.dialog-container div[aria-labelledby="alert-dialog-title"] .dialog-button-no, .dialog-container div[aria-labelledby="alert-dialog-title"] .dialog-button-yes,
.dialog-container div[aria-labelledby="alert-dialog-title"] .dialog-button-ok
{
    color: white;
}

.dialog-container div[aria-labelledby="alert-dialog-title"] .dialog-button-no {
    background-color: #a91a1a;
}

.dialog-container div[aria-labelledby="alert-dialog-title"] .dialog-button-yes {
    background-color: green;
}

.dialog-container div[aria-labelledby="alert-dialog-title"] .dialog-button-ok {
    background-color: $blue-color-flag;
}

