.sells-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.no-more-sells-heading, .load-more-icon {
    margin-bottom: 40px;
}

.load-more-icon {
    cursor: pointer;
    background-color: #1e5e9b;
    border-radius: 100%;
    color: white;
}

.load-more-icon:hover {
    background-color: #71a4d4;
}