.search-container {
    background-color: darkslategray !important;
    color: white;
    width: 40% !important;
}

.search-container:hover {
    background-color: red;
}

@media (max-width: 800px) {
    .search-container {
        width: 100% !important;
    }
}

.algo-search-cards {
    display: flex;
    flex-wrap: wrap;
}